.titleCardItem{
    border-bottom: 1px solid rgb(64, 64, 64);
    cursor: pointer;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    padding-right: 3rem;
    transition: all 0.2s;
}

.titleCardItem:hover{
    background-color: rgb(64, 64, 64);
}

.imgDiv{
    height: 5rem;
    aspect-ratio: calc(16/9);
    flex-basis: 20%;
    position: relative;
}

.img{
    height: 100%;
    width: 100%;
    
    object-fit: cover;
}

.playIcon{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    border: 1px solid currentColor;
    transition: all 0.2s;
}

.titleCardItem:hover .playIcon{
    display: block;
}