.footerDark{
    background-color: black;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
    padding: 2rem 0;
}

.footerLink, .footerLink:link, .footerLink:visited{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    text-decoration: underline;
}