.floatingLabelInput{
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    flex: 1;
}

.floatingLabelInput-label{
    position: absolute;
    left: 1rem;
    font-size: 1rem;
    
    transition: all 0.2s;
}

.floatingLabelInput-input{
    background-color: rgba(0,0,0, 0.3);
    height: 3.5rem;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    padding-left: 1rem;
    
}

.floatingLabelInput-input:not(:placeholder-shown)~.floatingLabelInput-label{
    top: 0;
    transform: scale(0.8);
    transform-origin: top left;
}

.floatingLabelInput-input:not(:placeholder-shown){
    padding-top: 1.2rem;
    padding-bottom: 0.1rem;
}