.signUpMain{
    min-height: 100vh;
    position: relative;
    top: 0;
    padding: 0.1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signUpMain>div:first-child{
    border-bottom: 1px solid #8c8c8c;
}

.forgotPassword{
    color: rgb(0, 113, 235);
}

.bold{
    font-weight: bold;
    color: #4e4e4e;
}

.passwordShowClass{
    z-index: 2;
    cursor: pointer;
    background-color: transparent;
    color: black;
    transition: all 0.2s;
}

.passwordShowClass:hover{
    text-decoration: underline;
    background-color: rgba(78, 78, 78, 0.15);
}
.signupInputLabel{
    color: #4e4e4e;
}

.mainContainerImage{
    margin-bottom: 1.5rem;
}